.hidden {
    visibility: hidden;
    over-flow: hidden;
    width: 0px;
    height: 0px;
}

body{
  width: 100%;
  height: 100%;
}

div{
  margin: auto;
  width: 1010px;
}

#tableDiv{
  width: 1000px;
  height: 200px;
  overflow: auto;
}

th{
  position: relative;
}

td{
  margin: auto;
  width: 400px;
  padding: 10px;
}

footer{
  height: 20px;
}
